
<html>
<head>
    <title>Upload Image</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Upload Image</button>
    </form>
    <hr>
<a href="/allImage">All Image</a>
   
</body>
</html>
